# auth
variable "scw-organisation" {
  default = "your-scaleway-organisation-id"
}

variable "scw-access-token" {
  default = "your-scaleway-access-token"
}

variable "scw-region" {
  default = "par1"
}

# ubuntu bionic 18.04
variable "os-image" {
  default = "d4067cdc-dc9d-4810-8a26-0dae51d7df42"
}

variable "instance-type" {
  default = "START1-S"
}
